*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

:root {
  --primary: green ;
  --white: #ffffff;
  --bg: #f5f5f5;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (min-width: 1440px) {
  html {
    zoom: 1.5;
  }
}

@media (min-width: 2560px) {
  html {
    zoom: 1.7;
  }
}

@media (min-width: 3860px) {
  html {
    zoom: 2.5;
  }
}

::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

body {
  font-size: 1.6rem;
  background: var(--bg);
  background-color: rgb(235, 235, 235); 
}

.container {
  max-width: 124rem;
  padding: 4rem 1rem;
  margin: 0 auto;
  background-color: rgb(235, 235, 235);
}

.heading {
  padding: 1rem 0; 
  font-size: 1.5rem;
  text-align: center;
}

.heading1{
  padding: 0.1rem 0;
  font-size: 1.5rem;
  text-align: center;
  color: green;
  font-weight: 800;
  
} t

.swiper_container {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
}

.swiper-slide {
  width: 37rem;
  height: 42rem;
  position: relative;
}

@media (max-width: 500px) {
  .swiper_container {
    height: 47rem;
  }
  .swiper-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .swiper-slide img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.swiper-slide img {
  width: 37rem;
  height: 42rem;
  border-radius: 2rem;
  object-fit: cover;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.137);
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-controler .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.slider-controler .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-controler .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.slider-controler .slider-arrow::after {
  content: '';
}

.swiper-pagination {
  position: relative;
  width: 15rem !important;
  bottom: 1rem;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}
.recommended-movies {
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    padding: 2rem 0;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 2rem;
    width: 80%;
    max-width: 124rem; 
  }
  
  .grid-item {
    background-color: rgb(194, 191, 191);
    height: 30rem;
   width: 100%;
   text-align: center;
   font-size: larger;
   padding: 2rem;
   border-radius: 8px;
   
  }

 

  .grid-item  p{
   margin-top: 10rem;
   color: #fff;
   margin-bottom: 2rem;
   
  }



  .search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .search-container input[type="text"] {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
  }
  
  .search-container button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-container button:hover {
    background-color: darkgreen;
  }
  
  .genres-container {
    display: flex;
    overflow-x: scroll;
    margin-top: 10px;
  }
  
  .genre-button {
    background-color: green;
    color: white;
    padding: 8px 16px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .genre-button:hover {
    background-color: darkgreen;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
  }
  
 
  ::-webkit-scrollbar-track {
    background: #f1f1f100; 
  }
   

  ::-webkit-scrollbar-thumb {
    background: #88888800; 
  }
  
 
  ::-webkit-scrollbar-thumb:hover {
    background: #55555500; 
  }


  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the transparency as needed */
    z-index: 9999; /* Ensure the loader is on top of everything */
  }
  
  .loader {
    border: 4px solid rgba(255, 255, 255, 0.1); /* Adjust the color and transparency */
    border-left-color: #fff; /* Loader color */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  

  .popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
  .popup {
    color: #fff;
    padding: 12rem 3rem 2rem 3rem;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    background: rgba(255, 255, 255, 0.349);
    box-shadow: inset 2px -2px 20px rgba(214, 214, 214, 0.2),
    inset -3px 3px 3px rgba(255, 255, 255, 0.027);
    backdrop-filter: blur(24px);
  }
  
  .popup img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .popup p {
    margin-top: 10px;
  }
  
  .popup button {
    background-color: green;
    color:#fff;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 8rem;
    margin: 2rem;
  }
  
  .popup button:hover {
    background-color: #555;
  }
  
  .ratings {
    padding-bottom: 0.8rem;
    font-size: 40px; 
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    background: rgba(255, 255, 255, 0.349);
    box-shadow: inset 2px -2px 20px rgba(214, 214, 214, 0.2),
    inset -3px 3px 3px rgba(255, 255, 255, 0.027);
    backdrop-filter: blur(24px);
  }
  
  .ratings span {
    cursor: pointer;
    margin: 0 5px; 
    
  }

  .rating span{
   
    color: white;
    
  }
  
  

  .ratings span.filled {
    color: gold; 
  }